.footer {
  max-width: 100%;
  height: 270px;
  background-color: #021a1a;
  color: white;
  border-radius: 20px;
}

.footer-container {
  position: relative;
  top: 20px;
  left: 95px;
  max-width: 100%;
}

.footer-bigtext {
  width: 440px;
  font-size: 40px;
  font-weight: 800;
  color: #00df82;
}

.footer-info {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 509px;
  left: 600px;
  bottom: 190px;
  gap: 60px;
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  bottom: 165px;
  width: 500px;
}

.footer-button {
  width: 25px;
  height: 25px;
}

.footer-company {
  font-size: 15px;
  color: white;
  font-weight: 600;
  text-align: center;
  position: relative;
  bottom: 220px;
}
